/*
 * kbStyle.css: CSS style definition file for KINOBOARDS.
 */

/* $Id: kbStyle.css,v 5.2 1999-08-26 09:05:39 nakahiro Exp $ */

/* general definition */
body
{
    background: #EEEEEE;
    color: #000000;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

h1
{
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
    margin: 2%;
}

p.kbStatus
{
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;
}    

dt
{
    margin-left: 1em;
    margin-top: 2ex;
}

span.accessKey
{
    text-decoration: underline;
}

address
{
    color: #333333;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}